*{
	padding: 0;
	margin: 0;
}
.a{
	height: 58px;
	width: 100%;
	background-color: #191D3A;
}
.a0{
	height: 58px;
	width:1000px;
	/*background-color: red;*/
	margin: auto;
}
.a0 img{
	width: 157px;
	height: 36px;
	margin-top: 11px;
	float: left;
}
.a2{
	float: left;  
	list-style: none;
	margin-left: 40px;
}
.a2 li{
	float: left;
	width: 87px;
	height: 58px;
	text-align: center;
	line-height: 58px;
	cursor: pointer;
	font-size: 14px;
	color: #bbb;
}
.a2 li a{
	text-decoration: none;
	color: #bbb;
}
.a2 li a:hover{
	color: white;
}
.a2 li.shouye{
	color: white;
	background-color: #252947;
	}
.a2 li.jiaru{
	background-color: #38B774;
	color: white;
	width: 100px;
	height: 34px;
	margin-top: 12px;
	line-height: 34px;
	margin-left: 10px;
	border-radius: 5px;
	
	}
	
.a2 li:hover{
	color: white;
}
.a3{
	float: right;
	width: 80px;
	height: 58px;
	/*background-color: red;*/
	line-height: 58px;
	text-align: center;
	font-size: 14px;
}
.a3-1{
	color:#38B774;
	font-size: 14px;
	cursor: pointer;
}
.a3-2{
	color:#A9A9A9;
	font-size: 14px;
	cursor: pointer;
	margin-left: 10px;
}
.a3-2:hover{
	color: #38B774;
}
.b{
	height:460px;
	width: 100%;
}
.b img{
	width: 100%;
	height:460px;
}
.four_item{
	width: 1000px;
	height: 300px;
	/*background-color: palegreen;*/
	margin: 50px auto;
}
.item{
	width: 218px;
	height: 200px;
	/*background-color:pink;*/
	text-align: center;
	cursor: pointer;
	float: left;
	margin-right: 40px;
}
.item img{
	width: 218px;
	height: 128px;
}
.click{
	color: #38B774;
	font-size: 12px;
	margin-top: 15px;
}
.item:hover{
	background-color: #38B774;
	color: white;
}
.item:hover .click{
	color: white;
}
fieldset{
	border: none;
	border-top: 1px solid #B5C0CB;
	margin-top: 40px;
}
fieldset p{
	width: 11px;
	height: 11px;
	background-color: #B5C0CB;
	float: left;
	margin: 0 5px;
	border-radius: 50%;
}
fieldset p:hover{
	background-color: #38B774;
}
.two_item{
	width: 1000px;
	height: 310px;
	margin: auto;
}
.item_left{
	width: 470px;
	height: 310px;
	background-image: url(../img/image/bynewsbg.jpg);
	background-repeat: no-repeat;
	list-style: none;
	float: left;
	padding: 0 15px;
}
.item_left li{
	height: 47px;
	line-height: 47px;	
	border-bottom: 1px solid gainsboro;
}
.item_left li.frist{
	margin-top: 120px;
}
.title{
	width: 420px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	float: left;
	cursor: pointer;
}
.title:hover{
	color: #38B774;
	
}
.time{
	float: right;
	font-size: 12px;
	color: #666;
}
.item-right{
	background-image: url(../img/image/byhrbg3.jpg);
	height: 310px;
	width: 500px;
	background-repeat: no-repeat;
	list-style: none;
	float: left;
	color: white;
}
.zhaopin{
	width: 240px;
	height: 50px;
	/*background-color: red;*/
	margin-top: 40px;
	margin-left: 80px;
}
.zhaopin1{
	float: left;
	width: 130px;
    height: 50px
}
.zhaopin2{
	font-size: 12px;
}
.zhaopin1-1{
	float: left;
	border: 1px solid #A9A9A9;
	border-radius: 5px;
	height: 28px;
	width: 66px;
	line-height: 19px;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
}
.zhaopin1-1:hover{
	background-color: white;
	color: green;
}
.wenzi{
	margin-left: 25px;
	font-weight: bold;
	font-size: 14px;
	margin-top: 20px
}
.wenzi1{
	margin-left: 20px;
	width: 305px;
	height: 152px;
	list-style: none;
	cursor: pointer;
}
.wenzi1 li{
	height: 42px;
	line-height: 42px;
	font-size: 14px;
	border-bottom: 1px solid #6fdea3;
}
