.top {
	background: rgb(0, 0, 121); width: 1124px; height: 30px;
	 height:30px;
  margin:0 auto;
}
.top_t {
	margin: 0px auto; width: 90%; height: 30px; text-align: center; color: rgb(255, 255, 255); padding-left: 50px; font-family: ËÎÌå; font-size: 13px;
}
.top_t1 {
	width: 42%; height: 26px; float: left;
}
.top_t2 {
	width: 24%; height: 16px; padding-top: 8px; float: left;
}
.top_t3 {
	width: 27%; height: 27px; float: left;
}
.content {
	margin: 0px auto; width: 1000px; height: 1100px;
}
.content_left {
	border: 1px solid rgb(222, 222, 190); width: 670px; margin-top: 10px;
}
.content_right {
	border: 1px solid rgb(222, 222, 190); width: 300px; margin-top: 10px; margin-left: 10px; float: right;
}
.content_left_1 {
	width: 92%; height: 27px; color: rgb(147, 0, 0); padding-top: 5px; padding-left: 5px; font-family: Î¢ÈíÑÅºÚ; font-size: 16px; font-weight: 800; border-bottom-color: rgb(222, 222, 190); border-bottom-width: 1px; border-bottom-style: solid; float: left;
}
.content_left_2 {
	width: 7%; height: 27px; color: rgb(147, 0, 0); padding-top: 5px; font-family: Î¢ÈíÑÅºÚ; font-size: 13px; font-weight: 800; border-bottom-color: rgb(222, 222, 190); border-bottom-width: 1px; border-bottom-style: solid; float: right;
}
.content_right_1 {
	width: 292px; height: 20px; color: rgb(147, 0, 0); padding-top: 3px; padding-left: 10px; font-family: Î¢ÈíÑÅºÚ; font-size: 14px; font-weight: 800; border-bottom-color: rgb(222, 222, 190); border-bottom-width: 1px; border-bottom-style: solid; float: right;
}
.bottom {
	margin: 0px auto; width: 1124px; text-align: center;
}
