.fanke
{
	height: 5500px;
	width: 1250px;
	float: left;
    border: 0px solid black;
}
.yi
{
	height: 30px;
	width: 1250px;
	border: 0px solid black;
	float: left;
	background-color: gainsboro;
}
.c{
	height: 20px;
	width: 500px;
	border: 0px solid red;
	float: left;
	margin-top: 5px;
	text-align: center;
	margin-left: 700px;
}
.er
{
	height:50px ;
	width:1250px ;
	border: 0px solid black;
	float: left;
}
.b
{
	height: 46px;
	width: 185px;
	float: left;
	border: 0px solid black;
	background-image:url(../img/新建文件夹/1.jpg);
}
.b1
{
	height:40px;
	width: 711px;
	float: left;
	border: 0px solid black;
	margin-top: 10px;
	margin-left: 350px;
	color: gainsboro;
}
*{
		padding: 0;
		margin: 0;
	}
ul,a1{
		font-size: 18px;
		list-style: none;
		text-decoration: none;
		background-color:ghostwhite;
		color: black;
		width: 70px;
		text-align: center;
		border: 0px solid green;
		margin-top: 10px;
	}
	a1{
		display: block;
	}
	.plat{
		display: none;
	}
	.nav:hover .plat{
		display: block;
		clear: both;
	}
	.nav{
		float: left;
		margin-top: 1px;
	}
	.plat li:hover>a1{
		background-color: wheat;
	}
	.san
{
	height: 540px;
	width: 1250px;
	float: left;
	border: 0px solid black;
}
.ch{
	margin-top: 100px;
	height: 500px;
	width: 1200px;
	float: left;
	border: 0px solid black;
	margin-left: 25px;
	background-image: url(../img/新建文件夹/2.jpg);
}
.si
{
	height: 90px;
	width: 1250px;
	border: 0px solid black;
	float: left;
	margin-top: 20px;
}
.d
{
	height: 69px;
	width: 1195px;
	border: 0px solid black;
	float: left;
	background-image: url(../img/新建文件夹/ab.jpg);
	margin-left: 25px;
	margin-top: 30px;
}
.wu
{
	height: 65px;
	width: 1250px;
	border: 0px solid black;
	float: left;
	margin-top: 50px;
}
.e
{
	height: 63px;
	width: 1200px;
	border: 0px solid black;
	float: left;
	background-image:url(../img/新建文件夹/65.jpg);
	margin-left: 25px;
}
.liu
{
	height: 240px;
	width: 1250px;
	border: 0px solid black;
	float: left;
}
.f
{
	height:232px ;
	width: 232px;
	float: left;
	border: 0px solid black;
	background-image: url(../img/新建文件夹/6374109-1j201709191136144818.jpg);
	margin-left: 25px;
	margin-top: 4px;
}
.f1
{
	height:232px ;
	width: 232px;
	float: left;
	border: 0px solid black;
	background-image: url(../img/新建文件夹/6374346-1j201709191136144818.jpg);
	margin-left: 8px;
	margin-top: 4px;
}
.f2
{
	height:232px ;
	width: 232px;
	float: left;
	border: 0px solid black;
	background-image:url(../img/新建文件夹/6378413-1j201801111409218163.jpg);
	margin-left: 8px;
	margin-top: 4px;
}
.f3
{
	height:232px ;
	width: 232px;
	float: left;
	border: 0px solid black;
	background-image:url(../img/新建文件夹/6384457-1j201903081023167549.jpg);
	margin-left: 8px;
	margin-top: 4px;
}
.f4
{
	height:232px ;
	width: 232px;
	float: left;
	border: 0px solid black;
	background-image: url(../img/新建文件夹/6379839-1j201802281522283694.jpg);
	margin-left: 8px;
	margin-top: 4px;
}
.qi
{
	height: 85px;
	width: 1250px;
	border: 0px solid black;
	float: left;
}
.j
{
	
	height:83px ;
	width: 232px;
	float: left;
	border: 0px solid black;
	margin-left: 25px;
	margin-top: 1px;
}
.j1
{
	height:83px ;
	width: 232px;
	float: left;
	border: 0px solid black;
	margin-left: 8px;
	margin-top: 1px;
}
.j2
{
	height:83px ;
	width: 232px;
	float: left;
	border: 0px solid black;
	margin-left: 8px;
	margin-top: 1px;
}
.j3
{
    height:83px ;
	width: 232px;
	float: left;
	border: 0px solid black;
	margin-left: 8px;
	margin-top: 1px;	
}
.j5
{
	 height:83px ;
	width: 232px;
	float: left;
	border: 0px solid black;
	margin-left: 8px;
	margin-top: 1px;
}
.ba
{
	margin-top: 15px;	height: 80px;
	width: 1250px;
	border: 0px solid black;
	float: left;
	margin-top: 25px;
}
.g
{
	
	height: 80px;
	width: 1200px;
	border: 0px solid black;
	float: left;
	margin-left: 25px;
	background-image:url(../img/新建文件夹/xhsm_g.jpg);
}
.jiu
{
	
	height: 428px;
	width: 1250px;
	border: 0px solid black;
	float: left;
	margin-top: 2px;
}
.k
{
		
	height: 424px;
	width: 268px;
	border: 0px solid black;
	float: left;
	margin-top: 2px;
	background-image: url(../img/新建文件夹/xp_07.jpg);
	margin-left: 50px;
}
.k1
{
	height: 424px;
	width: 268px;
	border: 0px solid black;
	float: left;
	margin-top: 2px;
	background-image: url(../img/新建文件夹/xp_09.jpg);
	margin-left: 25px;
}
.k2
{
	height: 424px;
	width: 268px;
	border: 0px solid black;
	float: left;
	margin-top: 2px;
	background-image:url(../img/新建文件夹/xp_13.jpg);
	margin-left: 25px;
}
.k3
{
	height: 424px;
	width: 268px;
	border: 0px solid black;
	float: left;
	margin-top: 2px;
	background-image:url(../img/新建文件夹/xp_15.jpg);
	margin-left: 25px;
}
.shi
{
	
	height: 431px;
	width: 1250px;
	border: 0px solid black;
	float: left;
	margin-top: 2px;
}
.l
{
	height: 425px;
	width: 268px;
	border: 0px solid black;
	float: left;
	margin-top: 2px;
	background-image:url(../img/新建文件夹/xp_17.jpg);
	margin-left: 50px;
	margin-top: 1px;
}
.l1
{
	height: 425px;
	width: 268px;
	border: 0px solid black;
	float: left;
	margin-top: 2px;
	background-image:url(../img/新建文件夹/xp_19.jpg);
	margin-left: 25px;
	margin-top: 1px;
}
.l2
{
	height: 425px;
	width: 268px;
	border: 0px solid black;
	float: left;
	margin-top: 2px;
	background-image:url(../img/新建文件夹/xp_03.jpg);
	margin-left: 25px;
	margin-top: 1px;
}
.l3
{
	height: 425px;
	width: 268px;
	border: 0px solid black;
	float: left;
	margin-top: 2px;
	background-image:url(../img/新建文件夹/xp_05.jpg);
	margin-left: 25px;
	margin-top: 1px;
}
.shiyi
{
	
	height: 431px;
	width: 1250px;
	border: 0px solid black;
	float: left;
	margin-top: 2px;
}
.m
{
	height: 425px;
	width: 268px;
	border: 0px solid black;
	float: left;
	margin-top: 2px;
	background-image:url(../img/新建文件夹/xp_23.jpg);
	margin-left: 50px;
	margin-top: 1px;
}
.m1
{
	height: 425px;
	width: 268px;
	border: 0px solid black;
	float: left;
	margin-top: 2px;
	background-image:url(../img/新建文件夹/xp_25.jpg);
	margin-left: 25px;
	margin-top: 1px;
}
.m2
{
	height: 425px;
	width: 268px;
	border: 0px solid black;
	float: left;
	margin-top: 2px;
	background-image:url(../img/新建文件夹/xp_27.jpg);
	margin-left: 25px;
	margin-top: 1px;
}
.m3
{
	height: 425px;
	width: 268px;
	border: 0px solid black;
	float: left;
	margin-top: 2px;
	background-image:url(../img/新建文件夹/xp_29.jpg);
	margin-left: 25px;
	margin-top: 1px;
}
.shier
{
	
	height: 100px;
	width: 1250px;
	border: 0px solid black;
	float: left;
	margin-top: 2px;
	color: gainsboro;
	text-align: center;
    line-height: 100px;
   font-size:20px ;
}
.shisan
{
	height: 500px;
	width: 1250px;
	border: 0px solid black;
	float: left;
}
.n
{
	height: 500px;
	width: 590px;
	border: 0px solid black;
	float: left;
	margin-left: 50px;
}
.n1
{
	height: 440px;
	width: 590px;
	border: 0px solid black;
	float: left;
	background-image: url(../img/新建文件夹/pc01.jpg);
}
.n2
{
	height: 50px;
	width: 590px;
	border: 0px solid black;
	float: left;
	margin-top: 3px;
    line-height: 50px;
}
.o
{
	height: 500px;
	width: 300px;
	border: 0px solid black;
	float: left;
	margin-left: 20px;
}
.q
{
	height: 240px;
	width: 300px;
	border: 0px solid black;
	float: left;
}
.q1
{
	height: 240px;
	width: 300px;
	border: 0px solid black;
	float: left;
	margin-top: 15px;
}
.q2
{
	height: 180px;
	width: 290px;
	border: 0px solid black;
	float: left;
	background-image: url(../img/新建文件夹/pc02.jpg);
	margin-left: 5PX;
}
.q3
{
	height: 50px;
	width: 290px;
	border: 0px solid black;
	float: left;
    margin-left: 5PX;
    line-height: 50px;
}
.p
{
	height: 180px;
	width: 290px;
	border: 0px solid black;
	float: left;
	background-image:url(../img/新建文件夹/pc03.jpg);
	margin-left: 5px;
}
.p1
{
	height: 50px;
	width: 290px;
	border: 0px solid black;
	float: left;
	margin-top: 3px;
    line-height: 50px;
    margin-left: 5px;
}
.r
{
	height: 500px;
	width: 280px;
	border: 0px solid black;
	float: left;
	
}
.r1
{
	height: 440px;
	width:280px;
	border: 0px solid black;
	float: left;
	background-image: url(../img/新建文件夹/tj1.jpg);
}
.r2
{
	height: 50px;
	width: 280px;
	border: 0px solid black;
	float: left;
	margin-top: 3px;
    line-height: 50px;
 
}
.shisi
{
	
	height: 500px;
	width: 1250px;
	border: 0px solid black;
	float: left;
}
.s
{
	height: 500px;
	width: 590px;
	border: 0px solid black;
	float: left;
	margin-left: 50px;
}
.s1
{
	
	height: 440px;
	width: 590px;
	border: 0px solid black;
	float: left;
	background-image: url(../img/新建文件夹/04g.jpg);
}
.s2
{
	height: 50px;
	width: 590px;
	border: 0px solid black;
	float: left;
	margin-top: 3px;
    line-height: 50px;
}
.s3
{
	height: 500px;
	width: 300px;
	border: 0px solid black;
	float: left;
	margin-left: 20px;
}
.s4
{
	
	height: 240px;
	width: 300px;
	border: 0px solid black;
	float: left;
}
.s5
{
	
	height: 180px;
	width: 290px;
	border: 0px solid black;
	float: left;
	background-image: url(../img/新建文件夹/05.jpg);
	margin-left: 5PX;
}
.s6
{
	height: 50px;
	width: 290px;
	border: 0px solid black;
	float: left;
    margin-left: 5PX;
    line-height: 50px;
}
.s7
{
	height: 240px;
	width: 300px;
	border: 0px solid black;
	float: left;
	margin-top: 15px;
}
.s8
{
	height: 180px;
	width: 290px;
	border: 0px solid black;
	float: left;
	background-image:url(../img/新建文件夹/pc04.jpg);
	margin-left: 5px;
}
.s9
{
	height: 50px;
	width: 290px;
	border: 0px solid black;
	float: left;
	margin-top: 3px;
    line-height: 50px;
    margin-left: 5px;
}
.t
{
	height: 500px;
	width: 280px;
	border: 0px solid black;
	float: left;
}
.t1
{
	height: 440px;
	width:280px;
	border: 0px solid black;
	float: left;
	background-image:url(../img/新建文件夹/pc05.jpg);
}
.t2
{
	height: 50px;
	width: 280px;
	border: 0px solid black;
	float: left;
	margin-top: 3px;
    line-height: 50px;s
}
.shiwu
{
	height: 100px;
	width: 1250px;
	border: 0px solid black;
	float: left;
	margin-top: 2px;
	color: gainsboro;
	text-align: center;
    line-height: 100px;
   font-size:20px ;
}
.shiliu
{
	width: 1250px;
	height: 500px;
	border: 0px solid black;
	float: left;
}
.u
{
	width: 290px;
	height: 500px;
	border: 0px solid black;
	float: left;
	margin-left: 50px;
}
.u1
{
	
	width: 285px;
	height: 438px;
	border: 0px solid black;
	float: left;
	background-image: url(../img/新建文件夹/pc06.jpg);
	margin-left: 1px;
}
.u2
{
	
	width: 285px;
	height: 50px;
	border: 0px solid black;
	float: left;
	margin-left: 1px;
	line-height: 50px;
}
.u3
{
	width: 290px;
	height: 500px;
	border: 0px solid black;
	float: left;
	margin-left: 10px;
}
.u4
{
	width: 285px;
	height: 438px;
	border: 0px solid black;
	float: left;
	background-image: url(../img/新建文件夹/10.jpg);
	margin-left: 1px;
}
.u5
{
	
	width: 285px;
	height: 50px;
	border: 0px solid black;
	float: left;
	margin-left: 1px;
	line-height: 50px;
}
.u6
{
	width: 290px;
	height: 500px;
	border: 0px solid black;
	float: left;
	margin-left: 10px;
}
.u7
{
	width: 285px;
	height: 438px;
	border: 0px solid black;
	float: left;
	background-image:url(../img/新建文件夹/09.jpg);
	margin-left: 1px;
}
.u8
{
	width: 285px;
	height: 50px;
	border: 0px solid black;
	float: left;
	margin-left: 1px;
	line-height: 50px;
}
.u9
{
	width: 290px;
	height: 500px;
	border: 0px solid black;
	float: left;
	margin-left: 10px;
}
.v
{
	width: 285px;
	height: 438px;
	border: 0px solid black;
	float: left;
	background-image:url(../img/新建文件夹/pc07.jpg);
	margin-left: 1px;
}
.v1
{
	width: 285px;
	height: 50px;
	border: 0px solid black;
	float: left;
	margin-left: 1px;
	line-height: 50px;
}
.shiqi
{
	height: 100px;
	width: 1250px;
	border: 0px solid black;
	float: left;
	margin-top: 2px;
	color: gainsboro;
	text-align: center;
    line-height: 100px;
   font-size:20px ;
}
.ershi
{
	height: 280px;
	width: 1250px;
	float: left;
    border: 0px solid black;
}
.v2
{
	height: 275px;
	width: 385px;
	float: left;
    border: 0px solid black;
    background-image: url(../img/新建文件夹/11.jpg);
    margin-left: 50px;
}
.v3
{
	height: 275px;
	width: 385px;
	float: left;
    border: 0px solid black;
    background-image: url(../img/新建文件夹/12.jpg);
    margin-left: 10px;
}
.v4
{
	height: 275px;
	width: 385px;
	float: left;
    border: 0px solid black;
    background-image:url(../img/新建文件夹/g13.jpg);
    margin-left: 10px;
}
.eryi
{
	
	height: 280px;
	width: 1250px;
	float: left;
    border: 0px solid black;
}
.w
{
	height: 275px;
	width: 385px;
	float: left;
    border: 0px solid black;
    background-image: url(../img/新建文件夹/14.jpg);
    margin-left: 50px;
}
.w1
{
	height: 275px;
	width: 385px;
	float: left;
    border: 0px solid black;
    background-image: url(../img/新建文件夹/15.jpg);
    margin-left: 10px;
}
.w2
{
	height: 275px;
	width: 385px;
	float: left;
    border: 0px solid black;
    background-image: url(../img/新建文件夹/16g.jpg);
    margin-left: 10px;
}
.erer
{
	height: 340px;
	width: 1250px;
	float: left;
    border: 0px solid gainsboro;
}
.w3
{
	height: 340px;
	width: 1250px;
	float: left;
    border: 0px solid gainsboro;
    margin-left: px;
}
.w4
{
	height: 42px;
	width: 42px;
	float: left;
    border: 0px solid black;
    background-image: url(../img/新建文件夹/onlinecustomer.png);
    margin-left: 175px;
  
}
.w5
{
	height: 44px;
	width: 400px;
	float: left;
    border: 0px solid black;
    margin-top: 50px;
}
.w6
{
	height: 30px;
	width: 400px;
	float: left;
    border: 0px solid black;
    margin-top: 50px;
}
.w7
{
	height: 30px;
	width: 200px;
	float: left;
	border: 0px solid black;
	background-color: red;
	margin-left: 100px;
	line-height: 30px;
	text-align: center;
}
.w8
{
	height:280px ;
	width: 400px;
	float: left;
	border: 0px solid gainsboro;
	margin-left: 50px;
}
.w9
{
	height:280px ;
	width: 400px;
	float: left;
	border: 0px solid gainsboro;
}
.z
{
	height: 44px;
	width: 400px;
	float: left;
    border: 0px solid black;
    margin-top: 50px;
}
.z1
{
	height: 42px;
	width: 42px;
	float: left;
    border: 0px solid black;
    background-image: url(../img/新建文件夹/seven.png);
    margin-left: 175px;
}
.z2
{
	
	height: 60px;
	width: 400px;
	float: left;
    border: 0px solid black;
    margin-top: 50px;
}
.z3
{
	height: 30px;
	width: 200px;
	float: left;
	border: 0px solid black;
	margin-left: 100px;
	line-height: 30px;
	text-align: center;
}
.z4
{
	height:280px ;
	width: 380px;
	float: left;
	border: 0px solid gainsboro;
}
.z5
{
	height: 260px;
	width: 380px;
	float: left;
    border: 0px solid black;
}
.z6
{
	height: 128px;
	width: 128px;
	float: left;
    border: 0px solid black;
    background-image: url(../img/新建文件夹/2014_8_29_16_39_33_7709.jpg);
    background-size: 100%;
    margin-left: 120px;
    margin-top: 30px;
}
.z7
{
	height: 50px;
	width: 380px;
	float: left;
	border: 0px solid black;
	text-align: center;
	line-height: 50px;
}
.z8
{
	height: 50px;
	width: 1180px;
	float: left;
    border: 0px solid gainsboro;
    background-color: gainsboro;
    margin-left: 50px;
    line-height: 50px;
    color: black;
}
.ersan
{
	height: 2px;
	width: 1250px;
	float: left;
    border: 0px solid black;
    background-color: black;
    margin-top: 20px;
}
.ersi
{
	height: 50px;
	width: 1250px;
	float: left;
    border: 0px solid black;
    text-align: center;
    color: gainsboro;
}
.cd1
{
	height: 50px;
	width: 1250px;
	float: left;
    border: 0px solid black;
    margin-top: 30px;
}
.cd2
{
	height: 41px;
	width: 378px;
	float: left;
    border: 0px solid black;
    background-image: url(../img/新建文件夹/m.png);
    margin-top: 5px;
    margin-left: 450px;
}
.m99
{
	text-decoration: none;
}
.c99
{
	text-decoration: none;
}
a
{
	text-decoration: none;